kind: source
spec:
  name: "comics"
  registry: "grpc"
  path: "localhost:7777"
  tables: ["*"]
  destinations: ["sqlite"]
  spec:
    access_token: "example"
    base_url: https://xkcd.com
---
kind: destination
spec:
  name: sqlite
  path: cloudquery/sqlite
  version: "v2.13.6" # latest version of destination sqlite plugin
  spec:
    connection_string: ./db.sqlite
